@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

:root {
  --black: #000;
  --ted-red: rgb(230, 43, 30);
  --white: #ffffff;
  --ted-white: #ffffff;
}

body {
  /* width: max-content; */
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

button {
  background: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: white;
  white-space: nowrap;
  border-style: solid;
  border-width: 0.1rem;
  border-color: white;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
}

@media only screen and (min-width: 768px) {
  button {
    font-size: 1rem;
    padding: 0.8rem 1rem 0.8rem 1rem;
  }
}

button:hover {
  cursor: pointer;
}

#event-header {
  height: 150vh;
  background-image: url("image/background.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
}

#header-video {
  width: max(20vw, 240px);
}

.overlay {
  pointer-events: none;
  background: linear-gradient(
    179.95deg,
    rgba(0, 0, 0, 0) 8.16%,
    rgba(0, 0, 0, 0.017) 25.77%,
    rgba(0, 0, 0, 0.0845) 49.58%,
    rgba(0, 0, 0, 0.1605) 64.85%,
    rgba(0, 0, 0, 0.7105) 84.98%,
    rgba(0, 0, 0, 0.93) 97.11%
  );
  margin: none;
  width: 100vw;
  position: absolute;
  z-index: 3;
  bottom: 0;
  top: 0;
}

.header_div {
  flex-direction: column;
  align-items: center;
  min-height: min-content;
  justify-content: center;
  min-height: 86vh;
  min-width: 100%;
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .header_div {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (min-width: 768px) {
  .btns {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
  }
}

.tour_btn {
  display: none;
}

@media only screen and (min-width: 768px) {
  .tour_btn {
    display: block;
  }
}

/* .calander_btn {

} */

@media only screen and (min-width: 768px) {
  .calander_btn {
    margin: 0 0 0 1rem;
  }
}
.info_div {
  order: 1;
  flex: 0 0;
  font-size: 0.8rem;
  padding-top: 2rem;
  margin-left: 10vw;
  /* text-align: center; */
}

@media only screen and (min-width: 768px) {
  .info_div {
    display: flex;
    order: 1;
    flex: 1.2 0;
    flex-direction: column;
    margin: 0 0 5vh 8vw;
    padding-top: 5rem;
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  .info_div {
    display: flex;
    order: 1;
    flex: 1.2 0;
    flex-direction: column;
    margin: 0 0 5vh 8vw;
    text-align: left;
    padding-top: 0;
  }
}

/* .face-image {
  pointer-events: none;
  user-select: none;
  width: 100vw;
  align-items: center;
  position: relative;
  z-index: 0;
  margin: 3rem 0 3rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
} */

/* @media only screen and (min-width: 768px) { */
.face-image {
  display: inline-block;
  position: absolute;
  z-index: 0;
  margin: auto;
  right: 6%;
}
/* } */

@media only screen and (min-width: 1200px) {
  .face-image {
    position: absolute;
    left: 54%;
    transform: translateX(-50%);
    z-index: 0;
    top: 0;

    /* transform: translateX(-50%); */
  }
}

.face-prop {
  width: 40vw;
  margin-right: 6vw;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
@media only screen and (min-width: 768px) {
  .face-prop {
    /* width: auto; */
    margin: auto;
    scale: 1;
    margin-right: 8vw;
  }
}

@media only screen and (min-width: 1200px) {
  .face-prop {
    height: 80vh;
    width: auto;
  }
}

.welcome {
  padding-top: 7vh;
  /* text-align: center; */
}

@media only screen and (min-width: 768px) {
  .welcome {
    font-size: 0.9rem;
    text-align: left;
    display: block;
    font-weight: 300;
    margin: 0 0 0 0;
  }
}

@media only screen and (min-width: 1200px) {
  .welcome {
    font-size: 1.1rem;
  }
}

.event_heading {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .event_heading {
    display: block;
    font-weight: 600;
    font-size: 4.3rem;
    margin: 0 0 0 0;
  }
}

@media only screen and (min-width: 1200px) {
  .event_heading {
    font-size: 5rem;
    margin: 0 0 0 0;
  }
}

/* .event_info {
  text-align: center;
  font-size: 0.9rem;
  margin: 0 52w 1.5rem 0vw;
} */

.event_info {
  text-align: left;
  display: block;
  margin: 4vh 45vw 3vh 0;
  font-size: 0.9rem;
}

@media only screen and (min-width: 768px) {
  .event_info {
    text-align: left;
    display: block;
    margin: 4vh 45vw 3vh 0;
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .event_info {
    margin: 7vh 20vw 4vh 0;
    font-size: 1.1rem;
  }
}

/* .image_div {
  display: flex;
  background-color: green;
  order: 2;
  flex: 1 0;
}

@media only screen and (max-width: 600px) {
  .image_div {
    order: 1;
    flex: 0 0;
  }
} */

/* .video_div {
  display: flex;
  flex-direction: column;
  order: 1;
  flex: 0 0;
  align-items: center;
}

@media only screen and (min-width: 768px) { */
.video_div {
  order: 3;
  flex: 1 0;
  align-items: flex-start;
  margin-left: 8vw;
}
/* } */

@media only screen and (min-width: 768px) {
  .video_div {
    order: 3;
    flex: 1 0;
    align-items: flex-start;
    margin-left: 8vw;
  }
}

@media only screen and (min-width: 1200px) {
  .video_div {
    order: 2;
    flex: 1 0;
    align-self: center;
    right: 0;
    margin-left: 28vw;
  }
}
/* 
.video-head {
  font-size: 0.9rem;
  margin-top: 3rem;
  margin-bottom: -0.5rem;
  text-align: center;
} */

/* @media only screen and (min-width: 768px) { */
.video-head {
  font-size: 0.9rem;

  margin-top: 1.5rem;
  margin: none;
  text-align: left;
}
/* } */

@media only screen and (min-width: 1200px) {
  .video-head {
    font-size: 1rem;
  }
}

#banner-video {
  padding: none;
  width: min(300px, 60vw);
}

@media only screen and (min-width: 1200px) {
  #banner-video {
    padding: none;
    width: 20vw;
  }
}

.header_foot {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header_foot {
    position: relative;
    z-index: 4;
    height: 12vh;
    display: flex;
    /* flex-direction: row; */
    margin-left: 8vw;
    margin-right: 8vw;
    border-top: 1px solid #fff;
  }
}

.sidenav {
  background-color: rgba(10, 10, 10, 0.3);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 50;
  width: max(5vw, 50px);
  /* min-height: 600px; */
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding-top: 4vh;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .sidenav {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
}
/* .video_div {
}

.intro-video {
  background-image: "image/play.png";
} */

.ham {
  /* margin-left: -15px; */
  /* align-self: center; */
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scale: 0.8;
  margin-left: -0.5vw;
  margin-bottom: 3vh;
  /* margin-left: 0.2vw; */
}

@media only screen and (min-width: 1200px) {
  .ham {
    margin-left: auto;
  }
}

@media only screen and (max-width: 768px) {
  .ham {
    display: none;
  }
}

.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
}

.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active .top {
  stroke-dashoffset: -68px;
}
.ham4.active .bottom {
  stroke-dashoffset: -68px;
}

.social_links {
  display: flex;
  flex-direction: column;
  /* margin-top: 8vh; */
}

.s-icon {
  width: max(1.9vw, 30px);
  padding: 1vh;
  align-self: center;
}
.s-icon:hover {
  cursor: pointer;
}

.hor_line {
  opacity: 0.7;
  color: #fff;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: max(2.5vw, 30px);
  top: 50%;
  left: 1.2vw;
  position: absolute;
}
@media only screen and (max-width: 768px) {
  .hor_line {
    display: none;
  }
}
.register_nav {
  font-weight: 400;
  writing-mode: vertical-lr;
  /* margin: 30vh auto 7vh auto; */
  margin: auto auto 3rem auto;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .register_nav {
    margin: 35vh auto 7vh auto;
  }
}

.event {
  display: flex;
  flex-direction: column;
  margin-left: 6vw;
  width: 10rem;
}

.event-detail {
  line-height: 1.7rem;
  margin-bottom: 0;
}

.event-detail-explain {
  font-size: 0.65em;
  margin-top: 0;
}
.join-detail-explain {
  font-size: 0.6em;
  margin-top: 0.8rem;
  border-right: 1px solid #fff;
  height: 3rem;
  padding-right: 0.5rem;
}
.join-team {
  font-size: 0.9rem;
  margin: 1rem auto auto 1rem;
  width: 8rem;
}

@media only screen and (max-width: 1200px) {
  .join-team {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .join-detail-explain {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .join-section {
    display: none;
  }
}

/* Event Intro */
.about-event-container {
  display: flex;
  margin: -20vh 12vw -6rem 12vw;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .about-event-container {
    flex-direction: column;
  }
}

.det-head {
  flex-grow: 1;
  flex-basis: 0;
  padding-left: 3rem;
  /* font-size: 0.9rem; */
}
.det-para {
  padding-left: 10rem;
  line-height: 1.5rem;
  flex-grow: 1;
  flex-basis: 0;
  margin-bottom: 8rem;
}

@media only screen and (max-width: 768px) {
  .det-para {
    padding-left: 4rem;
    font-size: 0.9rem;
  }
}

/*slider*/
.splide__slide img {
  width: 100%;
  height: auto;
}

/*ted info*/

.container-ted-info {
  /* position: relative; */
  display: flex;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  width: 75%;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 8rem;
}
.grid {
  display: grid;
  line-height: 1.4rem;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(1, 1); */
  gap: 7%;
  /* min-height: 100vh; */
  height: auto;
  /* padding: 1rem; */
  color: var(--white);
}
.grid .main h1 {
  margin: 20px auto;
}
.grid .about h2 {
  font-weight: 300;
  margin: 0 auto 20px 0;
}
.grid .main p {
  /* font-weight: 300; */
  margin: 20px auto;
}
.grid .main a {
  color: var(--white);
}
.grid .main a:visited {
  color: var(--ted-red);
}
.grid .about {
  display: flex;
  flex-direction: column;
  justify-self: center;
}
.grid .about .para1,
.grid .about .para2 {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 20px 0 0 0;
  height: 208px;
  overflow: hidden;
  position: relative;
  transition: height 0.5s linear;
}
/* .grid .about .para1::before,
.grid .about .para2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, #000);
  width: 100%;
  height: 100px;
} */
.grid .about .more1,
.grid .about .more2 {
  /* position: absolute; */
  /* padding: 8px 14px;
  background: var(--ted-red);
  cursor: pointer;*/
  margin: 10px auto 5px 0;
  color: var(--white);
  text-decoration: underline;
  transition: height 0.5s linear;
}
.grid .about .more1:hover,
.grid .about .more2:hover {
  color: var(--ted-red);
  cursor: pointer;
}

/* on active */

.grid .about .para1.active {
  height: auto;
  overflow: hidden;
  transition: height 0.5s linear;
}
.grid .about .para1.active::before {
  display: none;
}
.grid .about .para1.disable {
  height: 0;
  /* display: none; */
  overflow: hidden;
  transition: height 0.5s linear;
}
.grid .about .para2.active {
  height: auto;
  overflow: hidden;
  transition: height 0.5s linear;
}
.grid .about .para2.active::before {
  display: none;
}
.grid .about .para2.disable {
  height: 0;
  overflow: hidden;
  transition: height 0.5s linear;
}
.grid .about .more2.disable {
  display: none;
  transition: height 0.5s linear;
}
.grid .about .more1.disable {
  display: none;
  transition: height 0.5s linear;
}
.grid .about .more1.active,
.grid .about .more2.active {
  margin: 18px auto 10px 0;
}

/* media queries */

@media (max-width: 767.98px) {
  .grid {
    line-height: 1.2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* text-align: center; */
    gap: 4%;
    /* margin-bottom: 8rem; */
  }
  .grid .about h2 {
    font-weight: 300;
    margin: 0 auto 20px auto;
  }
  .grid .about .more1,
  .grid .about .more2 {
    margin: 10px auto 10px auto;
  }
  .grid .about .more1.active,
  .grid .about .more2.active {
    margin: 20px auto 10px auto;
  }
}

@media (max-width: 575.98px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    font-size: 0.9rem;
    /* text-align: center; */
    gap: 4%;
    margin-bottom: 5rem;
  }
  .grid .about h2 {
    font-weight: 300;
    margin: 0 auto 20px auto;
  }
  .grid .about .more1,
  .grid .about .more2 {
    margin: 10px auto 5px auto;
  }
  .grid .about .more1.active,
  .grid .about .more2.active {
    margin: 18px auto 10px auto;
  }
}
/* Footer */

.container-foot {
  display: flex;
  overflow: hidden;
  width: 100vw;
  align-items: center;
  /* padding: 2rem; */
  margin-top: -55vh;
  height: 50vh;
  z-index: 5;
}
#map {
  width: 100vw;
  height: 50vh;
  font-family: "Nunito", sans-serif;
  z-index: 0;
}

/* grid  */

.grid-2 {
  display: grid;
  height: 400px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10%;
}

/* box */

.box {
  position: absolute;
  /* margin-top: -23.5rem; */
  /* left: 5rem;
  top: 5rem; */
  color: var(--ted-white);
  display: flex;
  flex-direction: column;
  max-width: 90%;
  max-height: 22rem;
  /* margin: auto auto auto 0; */
  margin-left: 3rem;

  padding: 1.5rem;
  background: var(--black);
  border-radius: 0.4rem;
  cursor: auto;
  opacity: 0.9;
  /* z-index: 777; */
  overflow: hidden;
}
.box h1 {
  font-size: 2.4rem;
}
.box .cta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 1.6rem 0;
}
.box button {
  padding: 0.7rem 1.4rem;
  background: var(--ted-red);
  color: var(--ted-white);
  border: none;
  border-radius: 0.1rem;
  cursor: pointer;
}
.box button:hover {
  background: var(---ted-red);
  transform: scale(0.98);
}

/* media queries */

@media (max-width: 1200px) {
  .box {
    scale: 0.9;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  /* footer {
    display: flex;
    justify-content: center;
  } */
  .container-foot {
    position: absolute;
    margin-top: -85vh;
    /* scale: 0.9; */
    justify-content: center;
    padding: 0 0 0 0;
  }
  .box {
    position: absolute;
    scale: 0.9;
    margin: 0 0 0 0;
    justify-content: center;
  }
  .box h1 {
    font-size: 2.2rem;
  }
  #map {
    height: 80vh;
  }
  .box .date,
  .box button {
    margin-top: 0.5rem;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .box h1 {
    font-size: 2rem;
  }
}

/* Video carousel  */

.splide__slide img {
  width: 100%;
  height: auto;
}
/* Speakers */

.grid-speakers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  /* align-items: center; */
  margin: auto;
}

.head {
  margin-right: auto;
  padding: 1.2rem 2rem;
}

.head h1 {
  font-size: 2.4rem;
  color: var(--white);
}

.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin: 0 0.5rem;
  padding: 0.5rem;
  height: auto;
  background-color: var(--black);
}

.photo {
  width: 10.5rem;
  height: 10.5rem;
  border-radius: 50%;
  transform: rotate(-45deg);
}

.image {
  border-radius: 50%;
  border-top: 9px solid var(--ted-red) !important;
  border: 9px solid transparent;
  transform: rotate(45deg);
  margin: 0 0.5rem;
}

.details {
  text-align: center;
  color: var(--white);
}

.details h1 {
  font-size: 1.5rem;
}

.details p {
  opacity: 0.75;
  padding: 0;
}

/* media queries */

@media (max-width: 1115px) {
  .grid-speakers {
    grid-template-columns: repeat(4, 1fr);
  }
  .photo {
    width: 9rem;
    height: 9rem;
  }
  .card {
    margin: 0.5rem;
    padding: 0;
  }
}

@media (max-width: 900px) {
  .grid-speakers {
    grid-template-columns: repeat(3, 1fr);
  }
  .photo {
    width: 9rem;
    height: 9rem;
  }
  .card {
    margin: 0.5rem;
    padding: 0;
  }
  .head {
    margin: auto;
    padding: 1.5rem 2rem;
  }
  .head h1 {
    font-size: 2.4rem;
  }
  .image {
    border-top: 8px solid var(--ted-red) !important;
    border: 8px solid transparent;
  }
}

@media (max-width: 700px) {
  .grid-speakers {
    grid-template-columns: repeat(3, 1fr);
  }
  .photo {
    width: 8rem;
    height: 8rem;
  }
  .card {
    margin: 0.5rem;
    padding: 0;
  }
  .details h1 {
    font-size: 1.4rem;
  }
  .card {
    margin: 0 0.5rem;
    padding: 0.2rem;
  }
}

@media (max-width: 625px) {
  .grid-speakers {
    grid-template-columns: repeat(3, 1fr);
  }
  .photo {
    width: 7rem;
    height: 7rem;
  }
  .card {
    margin: 0.5rem;
    padding: 0;
  }
  .head h1 {
    font-size: 2rem;
  }
  .image {
    border-top: 7px solid var(--ted-red) !important;
    border: 7px solid transparent;
  }
}

@media (max-width: 546px) {
  .grid-speakers {
    grid-template-columns: repeat(2, 1fr);
  }
  .photo {
    width: 6.6rem;
    height: 6.6rem;
  }
  .card {
    margin: 0.5rem 0.2rem;
    padding: 0;
  }
  .head h1 {
    text-align: center;
    font-size: 1.6rem;
  }
  .details h1 {
    font-size: 1.2rem;
  }
  .details p {
    font-size: 80%;
  }
}

/* Video carousel  */
.splide__slide {
  opacity: 0.3;
}

.splide__slide.is-active {
  opacity: 1;
}

.splide-video {
  margin: 0 23vw 1rem 23vw;
}

@media only screen and (max-width: 1200px) {
  .splide-video {
    margin: 0 10vw 1rem 10vw;
  }
}

.leaflet-popup .leaflet-popup-content-wrapper {
  background: #e62b1e2d;
  color: #fff;
  font-size: 0.75rem;
  /* line-height: 24px; */
  border-radius: 0px;
  margin-bottom: 1rem;
}
.leaflet-popup .leaflet-popup-content-wrapper a {
  color: rgb(36, 36, 36);
}
/* .leaflet-popup .leaflet-popup-tip-container {
  width: 30px;
  height: 15px;
} */
.leaflet-popup .leaflet-popup-tip {
  display: none;
}
