{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TEDxRGPV Team</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <section>
      <!-- Coordinators -->

      <div class="container">
        <div class="head">
          <h1><span style="color: red">C</span>oordinators</h1>
        </div>

        <div class="grid-speakers">
          <div class="card">
            <div class="image">
              <img
                class="photo"
                src="{% static 'image/lm3.jpeg' %}"
                alt=""
                draggable="false"
                oncontextmenu="return false;"
              />
            </div>
            <div class="details">
              <h1 class="name">Dr. S. Gupta</h1>
              <p>Vice chancelor, RGPV</p>
            </div>
          </div>

          <div class="card">
            <div class="image">
              <img
                class="photo"
                src="{% static 'image/lm3.jpeg' %}"
                alt=""
                draggable="false"
                oncontextmenu="return false;"
              />
            </div>
            <div class="details">
              <h1 class="name">Dr. Shashi Ranjan Akela</h1>
              <p>Public Relation Officer, RGPV</p>
            </div>
          </div>

          <div class="card">
            <div class="image">
              <img
                class="photo"
                src="{% static 'image/lm3.jpeg' %}"
                alt=""
                draggable="false"
                oncontextmenu="return false;"
              />
            </div>
            <div class="details">
              <h1 class="name">Dr. R.S. Rajput</h1>
              <p>Registrar, RGPV</p>
            </div>
          </div>

          <div class="card">
            <div class="image">
              <img
                class="photo"
                src="{% static 'image/lm3.jpeg' %}"
                draggable="false"
                oncontextmenu="return false;"
              />
            </div>
            <div class="details">
              <h1 class="name">Dr. S.S. Bhadauria</h1>
              <p>Director, UIT RGPV</p>
            </div>
          </div>

          <div class="card">
            <div class="image">
              <img
                class="photo"
                src="{% static 'image/lm3.jpeg' %}"
                alt=""
                draggable="false"
                oncontextmenu="return false;"
              />
            </div>
            <div class="details">
              <h1 class="name">Dr. Jitendra Agrawal</h1>
              <p>Professor, RGPV</p>
            </div>
          </div>

          <div class="card">
            <div class="image">
              <img
                class="photo"
                src="{% static 'image/lm3.jpeg' %}"
                alt=""
                draggable="false"
                oncontextmenu="return false;"
              />
            </div>
            <div class="details">
              <h1 class="name">Dr. Shikha Agrawal</h1>
              <p>Training & Placement Officer, RGPV</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="head">
          <h1>Organiser</h1>
        </div>

        <div class="grid-speakers">
          <div class="card">
            <div class="image">
              <img
                class="photo"
                src="{% static 'image/lm3.jpeg' %}"
                alt=""
                draggable="false"
                oncontextmenu="return false;"
              />
            </div>
            <div class="details">
              <h1 class="name">Sourabh</h1>
              <p>Web Developer</p>
            </div>
          </div>

          <div class="card">
            <div class="image">
              <img
                class="photo"
                src="{% static 'image/lm3.jpeg' %}"
                alt=""
                draggable="false"
                oncontextmenu="return false;"
              />
            </div>
            <div class="details">
              <h1 class="name">Sourabh</h1>
              <p>Web Developer</p>
            </div>
          </div>

          <div class="card">
            <div class="image">
              <img
                class="photo"
                src="{% static 'image/lm3.jpeg' %}"
                alt=""
                draggable="false"
                oncontextmenu="return false;"
              />
            </div>
            <div class="details">
              <h1 class="name">Sourabh</h1>
              <p>Web Developer</p>
            </div>
          </div>

          <div class="card">
            <div class="image">
              <img
                class="photo"
                src="{% static 'image/lm3.jpeg' %}"
                draggable="false"
                oncontextmenu="return false;"
              />
            </div>
            <div class="details">
              <h1 class="name">Sourabh</h1>
              <p>Web Developer</p>
            </div>
          </div>

          <div class="card">
            <div class="image">
              <img
                class="photo"
                src="{% static 'image/lm3.jpeg' %}"
                alt=""
                draggable="false"
                oncontextmenu="return false;"
              />
            </div>
            <div class="details">
              <h1 class="name">Sourabh</h1>
              <p>Web Developer</p>
            </div>
          </div>

          <div class="card">
            <div class="image">
              <img
                class="photo"
                src="{% static 'image/lm3.jpeg' %}"
                alt=""
                draggable="false"
                oncontextmenu="return false;"
              />
            </div>
            <div class="details">
              <h1 class="name">Sourabh</h1>
              <p>Web Developer</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="head">
          <h1>Head of departments</h1>
        </div>

        <div class="grid-speakers">
          <div class="card">
            <div class="image">
              <img
                class="photo"
                src="{% static 'image/lm3.jpeg' %}"
                alt=""
                draggable="false"
                oncontextmenu="return false;"
              />
            </div>
            <div class="details">
              <h1 class="name">Sourabh</h1>
              <p>Web Developer</p>
            </div>
          </div>

          <div class="card">
            <div class="image">
              <img
                class="photo"
                src="{% static 'image/lm3.jpeg' %}"
                alt=""
                draggable="false"
                oncontextmenu="return false;"
              />
            </div>
            <div class="details">
              <h1 class="name">Sourabh</h1>
              <p>Web Developer</p>
            </div>
          </div>

          <div class="card">
            <div class="image">
              <img
                class="photo"
                src="{% static 'image/lm3.jpeg' %}"
                alt=""
                draggable="false"
                oncontextmenu="return false;"
              />
            </div>
            <div class="details">
              <h1 class="name">Sourabh</h1>
              <p>Web Developer</p>
            </div>
          </div>

          <div class="card">
            <div class="image">
              <img
                class="photo"
                src="{% static 'image/lm3.jpeg' %}"
                draggable="false"
                oncontextmenu="return false;"
              />
            </div>
            <div class="details">
              <h1 class="name">Sourabh</h1>
              <p>Web Developer</p>
            </div>
          </div>

          <div class="card">
            <div class="image">
              <img
                class="photo"
                src="{% static 'image/lm3.jpeg' %}"
                alt=""
                draggable="false"
                oncontextmenu="return false;"
              />
            </div>
            <div class="details">
              <h1 class="name">Sourabh</h1>
              <p>Web Developer</p>
            </div>
          </div>

          <div class="card">
            <div class="image">
              <img
                class="photo"
                src="{% static 'image/lm3.jpeg' %}"
                alt=""
                draggable="false"
                oncontextmenu="return false;"
              />
            </div>
            <div class="details">
              <h1 class="name">Sourabh</h1>
              <p>Web Developer</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
